{% extends "base.html" %} {% block content %}
<div class="row top-space-30">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel">
            <h3 class="top-space-30" id="summary">About this site</h3>
            <p class="mb-0 top-space-30 text-justify">Hi, I am Arun and I run <a href="https://www.qxf2.com/?utm_source=qa-aiml-about&utm_medium=click&utm_campaign=From%20QA%20AIML">Qxf2 Services</a> - a company that offers software testing consultancy to startups. After a painful client engagement in early 2020, I realized we did not have the skill set, tooling and mental models to tackle many of the more technical challenges facing testers. This site is a genuine attempt to make me and my colleagues suck a little less at testing ¯\_(ツ)_/¯. If you find it useful or want to help us improve, please drop me a message at mak@qxf2.com.</p>
            <p class="mb-0 top-space-30 text-justify">Since then, we have made significant progress, including the development of our dedicated AI/ML testing offering. This service is designed to help teams address the unique challenges of moving machine learning models into production while ensuring their effectiveness and reliability. To learn more about how our QA services can enhance your ML projects, please visit our <a href="https://qxf2.com/aiml-testing-offering">AI/ML Testing</a> offering page.</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock %}