{% extends "base.html" %} {% block content %}
<div class="container toppy">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="margin-base-vertical top-space-30 text-center">Are you asking for leave?</h1>
            <p class="input-group top-space-30">
                <span class="input-group-addon">
                    <span class="icon-arrow-right"></span>
                </span>
                <input type="text" id="query" class="form-control input-lg"
                    placeholder="Enter 'I am out sick today' or try the examples below">
            </p>
            <p class="text-center top-space-40">
                <button type="submit" class="btn btn-success btn-lg" id="isThisAPTO">Guess!</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center top-space-20" id="resultDiv">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <img src="/static/img/is_this_a_pto.jpg" class="pto-meme rounded  mx-auto d-block">
        </div>
    </div>
    <div class="row">
        <div class="text-justify">
            <h3 class="margin-base-vertical top-space-30">Examples</h1>
            <p class="input-group top-space-30">Try out sentences that indicate that you want to take some time off from work. Some examples you can try are:
                <ol>
                    <li>Taking PTO on these dates Nov-27th(Friday) Dec-3rd(Thursday)</li>
                    <li>I am  cancelling my today's PTO and working today</li>
                    <li>I am travelling to hometown on some unplanned personal work... will not be able to work today. Taking PTO </li>
                    <li>Down with fever and cold. Taking the day off</li>
                    <li>I am having a bad headache so taking sick off for today.</li>
                </ol> </p>

        </div>
    </div>
    <div class="row">
        <div class="text-justify">
            <h3 class="margin-base-vertical top-space-30">About this app</h1>
            <p class="input-group top-space-30">Post a sentence and the app will tell you if you are applying for leave or not. This is a sentence classifier. I adapted the code in this <a href="https://www.youtube.com/watch?v=5xDE06RRMFk">YouTube tutorial</a> by <a href="http://coding-maniac.com/">Johannes Frey</a> to make this application. I trained it on around 3200 messages posted on Qxf2's 'leave' Skype channel. There is definitely a bias in the training dataset. We live in India and our English is different from say someone in Australia. Similarly, certain words seem to throw the classifier off and it is fun to discover these words and just add them randomly to your messages. </p>
        </div>
    </div>
</div>
<script>
    $("document").ready(function () {
        $("#isThisAPTO").click(function () {
            var message = $('#query').val();
            var callDetails = {
                type: 'POST',
                url: '/is-pto',
                data: {
                    'message': message
                }
            };
            $.ajax(callDetails).done(function (result) {
                if(result.score == 1){
                    $("#resultDiv").text(result.message + " is a PTO message");
                }
                else{
                    $("#resultDiv").text(result.message + " is not a PTO message");
                }
            });
        });
    });
</script>
{% endblock %}